body {
    background-color: beige;
}

nav {
    display: inline block;
    margin: -30px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #123418;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}